@import url('https://fonts.cdnfonts.com/css/gilam');
@import url('https://fonts.cdnfonts.com/css/circe');

body{
    background: #171717;
}

ul{
    list-style: none;
}

.container{
    width: 1460px;
    margin: 30px auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

a{
    text-decoration: none;
}

.frame-icon {
    padding-right: 10px;
}

.button {
    display: inline-flex;
    align-items: center;
    border: 1px solid #E4B564;
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0);
}

.button:hover {
    box-shadow: 0 0 5px #E4B564;
}

.button p {
    margin: 0;
    height: 30px;
    color: #E4B564;
    font-family: 'Circe', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.main{
    padding-bottom: 190px;
}

h2{
    font-family: 'Gilam', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.main-content {
    font-family: 'Gilam', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 41px 0;
}

.container-grid-top {
    display: grid;
    grid-template-columns: repeat(6,1fr );
    grid-template-rows: repeat(2,468px);
    grid-gap: 25px;
    grid-auto-rows: 250px;
    grid-template-areas:
    "top-item-1 top-item-1 top-item-2 top-item-2 top-item-3 top-item-3"
    "top-item-4 top-item-4 top-item-4 top-item-5 top-item-5 top-item-5"
}

.top-item{
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: 'Gilam', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.Item-top-1 {
    grid-area: top-item-1;
    background-color: #634F2C;
}

.Item-top-2 {
    grid-area: top-item-2;
    background-color: #B4A385;
}

.Item-top-3 {
    grid-area: top-item-3;
    background-color: #E4B564;
}

.Item-top-4 {
    grid-area: top-item-4;
    background-color: #635A4A;
}

.Item-top-5 {
    grid-area: top-item-5;
    background-color: #B08C4D;
}

.main-heading{
    margin: 160px 0 95px;
}

.container-grid-bottom{
    display: grid;
    grid-template-columns: repeat(3,1fr );
    grid-template-rows: repeat(7,100px);
    grid-gap: 25px;
    grid-template-areas:
    "bottom-item-1 bottom-item-2 bottom-item-3"
    "bottom-item-1 bottom-item-2 bottom-item-3"
    "bottom-item-1 bottom-item-2 bottom-item-4"
    "bottom-item-6 bottom-item-2 bottom-item-4"
    "bottom-item-6 bottom-item-7 bottom-item-4"
    "bottom-item-6 bottom-item-7 bottom-item-5"
    "bottom-item-6 bottom-item-7 bottom-item-5"
}

.bottom-item{
    padding: 44px 50px;
    font-family: 'Gilam', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;

}

.Item-bottom-1{
    grid-area: bottom-item-1;
    background-color: #0E0E0E;
}

.Item-bottom-2{
    grid-area: bottom-item-2;
    background-color: #242424;
}

.Item-bottom-3{
    grid-area: bottom-item-3;
    background-color: #1F1F1F;
}

.Item-bottom-4{
    grid-area: bottom-item-4;
    background-color: #0E0E0E;
}

.Item-bottom-5{
    grid-area: bottom-item-5;
    background-color: #0A0909;
}

.Item-bottom-6{
    grid-area: bottom-item-6;
    background-color: #1F1F1F;
}

.Item-bottom-7{
    margin-bottom: 20px;
    grid-area: bottom-item-7;
    background-color: #E4B564;
    color: #000000;
}

.footer{
    background-color: #0E0E0E;
    padding-top: 161px;
    margin-bottom: 140px;
}

.footer-section{
    display: flex;
    justify-content: space-between;
}

.footer-heading{
    margin-bottom: 72px;
}

.container-grid-footer{
    display: grid;
    grid-template-columns: repeat(3,487px );
    grid-template-rows: repeat(2,391px);
    justify-content: center;
    align-content: end;
}

.footer-item{
    display: grid;
    align-content: center;
    justify-content: center;
}

.footer-item-images {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

span{
    font-weight: 600;
}

.Item-footer-1{
    background-color: #634F2C;
}

.Item-footer-2 {
    background-color: rgba(232, 210, 171, 0.76);
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-item-text{
    font-family: 'Gilam', sans-serif;;
    font-style: normal;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    display: none;
}

.Item-footer-2:hover .footer-item-text{
    display: initial;
}

.Item-footer-3{
    background-color: #E4B564;
}

.Item-footer-4{
    background-color: #635A4A;
}

.Item-footer-5{
    background-color: #B08C4D;
}

.Item-footer-6{
    background-color: #634F2C;
}